
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);
.Conatiner_Background_Property_{
    background-image: url(../../../public/images/Vishal_Back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
    backdrop-filter: blur(300px);
    animation: ChangeBackground 10s infinite;
    
}

/*****Animations*****/
@keyframes ChangeBackground{
    0%{
        background-image: url(../../../public/images/Vishal_Back2.jpg);
    }
    40%{
        background-image: url(../../../public/images/Vishal_Back3.jpg);
    }
    100%{
        background-image: url(../../../public/images/Vishal_Back2.jpg);
    }
    
    
}
@keyframes bounce {
    0%,20%,50%,80%,to {
        transform: translateZ(-2px) translateY(5px)
    }

    40% {
        transform: rotateY(180deg) translateZ(-2px) translateY(-35px)
    }

    60% {
        transform: translateZ(-2px) translateY(-25px)
    }
};
@keyframes textDisco{
    5%{
        text-shadow: 0 0 5px rgb(0, 255, 170),0 0 10px rgb(4, 123, 202),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    20%{
        text-shadow: 0 0 5px rgb(255, 166, 0),0 0 10px rgb(0, 4, 255),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    30%{
        text-shadow: 0 0 5px rgba(255, 102, 0, 0.87),0 0 10px rgb(128, 118, 218),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    40%{
        text-shadow: 0 0 5px rgb(255, 187, 0),0 0 10px rgb(96, 107, 172),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    50%{
        text-shadow: 0 0 5px rgb(0, 174, 255),0 0 10px rgb(26, 233, 147),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    60%{
        text-shadow: 0 0 5px rgb(0, 102, 255),0 0 10px rgb(173, 58, 58),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    70%{
        text-shadow: 0 0 5px rgb(111, 0, 255),0 0 10px rgb(255, 0, 0),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    80%{
        text-shadow: 0 0 5px rgb(132, 0, 255),0 0 10px rgb(0, 255, 255),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
    100%{
        text-shadow: 0 0 5px rgb(0, 132, 255),0 0 10px rgb(255, 251, 0),0 0 15px rgb(255, 153, 0),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
    }
}
@keyframes mymove {
    5% {box-shadow: 10px 15px 30px rgb(83, 49, 110);
    border: 1px solid rgb(83, 49, 110) ;}
    20%{box-shadow: 1px -0px 50px rgb(132, 0, 255);
    border: 1px solid rgb(132, 0, 255);}
    30%{box-shadow: -15px -9px 50px #cb96e4;
    border: 1px solid #cb96e4;}
    40%{box-shadow: -13px -10px 50px pink;
    border: 1px solid pink;}
    50%{box-shadow: -14px -13px 50px violet;
    border: 1px solid violet ;}
    60%{box-shadow: 1px -0px 50px rgb(255, 0, 255);
    border: 1px solid rgb(255, 0, 255);}
    80%{box-shadow: 6px -0px 50px rgb(132, 0, 255);
    border: 1px solid rgb(132, 0, 255);}
    100%{box-shadow: 1px -0px 50px  rgba(132, 0, 255, 0.548);}
  }
  @keyframes Empty_BallAnimation{
5%{
    background-image: linear-gradient(rgb(47, 0, 255),rgb(235, 88, 240));
}
100%{
    background-image: linear-gradient(rgb(235, 88, 240), rgb(47, 0, 255));
}
  }
  @keyframes FastFloat {
    0%,100%
    {
        transform: translateY(50px);
    }  
    50%{
        transform: translateY(100px);
    }  
    }
    @keyframes NFloat{
      0%
      {
        transform:translatey(0px)
      }
      50%
      {
        transform:translatey(-20px)
      }
      100%
      {
        transform:translatey(0px)
      }
  }

/****************Main_Frame*/
.Main_Frame{
    display: grid;
    grid-template-columns:100%;
}
.Main_Text{
    color: darkcyan;
    
}
.Box_Main{
    display: grid;
    grid-template-columns: 60% 40%;
}

.Vishal_Image{
width: 300px;
border-radius: 50%;

}

.Section_Second{
    
    background-color: rgba(24,17,46,255);
}
.Text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

/*********************************/
.Intro_1{
    background-color: var(--Vishal_Transparent);
    text-align: center;
    color: rgb(253, 253, 253);
    font-size:x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: optional;
}
.Intro_2{
    text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
    background-color: var(--Vishal_Transparent);
    text-align: center;
    color: rgb(236, 109, 109);
    font-size:x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: optional;
}
.headings{
    backdrop-filter: blur(1px) ;
    text-align: center;
    color: rgb(253, 253, 253);
    font-size:40px;
    margin-top: 5%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: optional;
    margin-top: 100px;
}
.Uni_Headings{
    backdrop-filter: blur(1px) ;
    text-align: center;
    color: rgb(253, 253, 253);
    font-size:40px;
    margin-top: 5%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: optional;
    
}



.h3 {
    font-size: 20px;
    line-height: 80%;
   transform: rotateX(0) rotateY(-25deg);
    text-transform: uppercase;
    width: auto;
 text-align: center;
    color: #b9dfff;
    color: #fff;
    font-family: "Zefani";
 font-family: 'Abril Fatface';
    margin: 3rem auto;
    position: relative;
    animation: textDisco 5s infinite;
    text-shadow: 0 0 5px rgb(255, 0, 0),0 0 10px rgb(81, 255, 0),0 0 15px rgb(0, 153, 255),0 0 20px #ff3122,0 0 35px #000000ee,0 0 40px #228dff;
 
 .span {
    display: inline-block;
}

}

/***********************8Second Section***************************/
.S_Grid{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 50%;
    
}
.S_Text_Frame{
    
}
.S_Image{
    width: 200px;
    animation: mymove 5s infinite;
    
    margin-left: 3%;
    border-radius: 50%;
}
.S_Main_Text{
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
    font-style:normal;
    margin-left: 1px;
    margin-bottom: 3%;
    color: #228dff;
}
.S_Line1{
    color: #ff3122;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
    font-style:normal;
    margin-left: 30%;
}
.S_Line2{
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
    font-style:normal;
    margin-left: 30%;
}

/*************************Third Section****************/
.Third_Section{
margin-top: 5%;
}
.T_Grid{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 50%;
}
.T_Image{

}
.T_Head{
    color: #cb96e4;
    font-size: large;
    font-weight: bold;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
}
.T_Text_Frame{
    text-align: center;
margin-top: 7%;
color: #f1f1f1;
}
.T_EmptyCircle{
    margin-left: 50%;
    height: 200px;
  width: 200px;
  background-image: linear-gradient(rgb(235, 88, 240), rgb(47, 0, 255));
  border-radius: 50%;
  display: inline-block;
  animation: Empty_BallAnimation 5s infinite;
}


/**********************Projects Section*****************/
.Projects_Section{
    margin-top: 5%;
}
.P_Grid{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 40% 50%;
}
.P_Image{
    width: 350px;
    height: 350px;
    animation: NFloat 5s infinite ;
}
.P_Text_Frame{
    text-align: center;
margin-top: 7%;
color: #f1f1f1;
}




.Click_Me {
  background: linear-gradient(to bottom right, #48ff00, #20e288);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.Click_Me:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(52, 173, 27, 0.5), -.125rem -.125rem 1rem rgba(56, 209, 64, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.Click_Me:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(34, 207, 77, 0.5), -.125rem -.125rem 1rem rgba(54, 180, 70, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}




.Click_Me_Github {
    background: linear-gradient(to bottom right, #000000, #5c534e);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .Click_Me_Github:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(22, 21, 21, 0.5);
  }
  
  .Click_Me_Github:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(44, 43, 43, 0.5);
  }



  /*************Mobile Media***/
  @media (max-width: 992px) {
    .S_Grid{
        margin-left: 5%;
        display: grid;
        margin-bottom: 35px;
        grid-template-columns: none;
    }
    .S_Image{
        width: 150px;
        animation: mymove 5s infinite;
        margin: auto;
        border-radius: 50%;
    }
    .S_Line2{
        margin-bottom: 35px;
        margin-left: 0%;
    }


    /******Mobile Section Third(3)*******/
    .T_Grid{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .T_EmptyCircle{
        margin-left: 3%;
        height: 130px;
      width: 130px;
      background-image: linear-gradient(rgb(235, 88, 240), rgb(47, 0, 255));
      border-radius: 50%;
      display: inline-block;
    }
    .P_Grid{
        margin-left: 0%;
        display: grid;
        grid-template-columns: none;
    }
    
  }