.copy{
    color: white;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    font-style: oblique;

}
body{
    
   display: flex;
   align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  
  
   
}
.img{
    width: 60px;
    border: solid red 1px;
     border-radius: 50%;

}

footer{
    
    background-color: blue;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;

}

footer .container .aboutus{
    width: 40%;

    
}

footer .container  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    
    
}
footer p{
    
    color: #999;

    
}

.sci li a .fa{
color: white;
font-size: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
text-decoration: none;
border-radius: 4px;

}

footer .container h2::before{
    background: blue;
    content: '';
    position: absolute;
    bottom: -5px;
    width: 50px;
    left: 0;
    height: 2px;
}

.sci li a:hover{
    width: auto;
    background: rgb(195, 140, 240);
}


/*Product*/
.product{
    position: relative;
    width: 25%;
}
.product ul li{
    list-style: none;
}
.product ul li a{
color: #999;
text-decoration: none;
margin-left: 10px;
display: inline-block;

}

.product ul li a:hover{
    color: #fff;
}



@media(max-width: 700px){
    footer{
        padding: 40px;

    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,.product{
        width: 100%;

    }
}